@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Si desea generar un reporte favor de ir a la pestaña "Generar reporte"</p>
</div>
